.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    }
    .mt-5 {
    margin-top: 50px;
    }
    .mb-4 {
    margin-bottom: 40px;
    }
    .form-control {
    margin-bottom: 20px;
    }
    .custom-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: rosybrown;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }
        .custom-button:hover {
        background-color: rosybrown;
        }
        input,
        textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        }
